[submodule "tactile-odom-teensy"]
	path = tactile-odom-teensy
	url = https://github.com/BioMorphic-Intelligence-Lab/tactile-odom-teensy
[submodule "px4_msgs"]
	path = onboard/src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "offboard/src/px4_msgs"]
	path = offboard/src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "offboard/src/common"]
	path = offboard/src/common
	url = https://github.com/BioMorphic-Intelligence-Lab/common
[submodule "offboard/src/mocap_optitrack_client"]
	path = offboard/src/mocap_optitrack_client
	url = https://github.com/BioMorphic-Intelligence-Lab/mocap_optitrack_client
[submodule "offboard/src/mocap_optitrack_interfaces"]
	path = offboard/src/mocap_optitrack_interfaces
	url = https://github.com/BioMorphic-Intelligence-Lab/mocap_optitrack_interfaces
[submodule "onboard/src/common"]
	path = onboard/src/common
	url = git@github.com:BioMorphic-Intelligence-Lab/common.git
[submodule "offboard/src/ros_gz"]
	path = offboard/src/ros_gz
	url = git@github.com:gazebosim/ros_gz.git
[submodule "tactile-odom-design"]
	path = tactile-odom-design
	url = git@github.com:BioMorphic-Intelligence-Lab/tactile-odom-design.git
